@import '~antd/dist/antd.css';

*,p,h1 {
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    padding: 2.5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Flex-row{
    display: flex;
    flex-direction: row;
}

.Flex-column{
    display: flex;
    flex-direction: column;   
}

.Center{
    justify-content: center;
    align-items: center;
}

.Start-End{
    justify-content: space-between;
    align-items: center;
}